
.header {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.header > mat-divider {
  margin: 2ex 0;
}

.header > h1 {
  margin: 0.5ex;
}

.header-text {
  margin-left: 1.5ex !important;
}

.menu-toggle {
  width: auto;
  margin: 0 0.5ex;
}

.header > button{
  margin-top: auto;
  margin-bottom: auto;
}

.journal-toggle {
  margin: auto 0 !important;
}
