
.header {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.header > mat-divider {
  margin: 2ex 0;
}

.header > app-journal-title, .header > h1 {
  margin: 0.5ex;
}

.header > button {
  margin-top: auto;
  margin-bottom: auto;
}
