<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{ title or "Looksyk Dokumentation" }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="icon" type="image/png" href="/fav_512.png">
</head>
<body>
  {% include "menu.njk" %}
  <header>
  <img src="/fav_512.png" alt="Looksyk Logo" class="logo">
  <div class="header-title">
  <h1>
  Looksyk
  </h1>
  <h2>
  A simple personal knowledge platform with a focus on clean markdown files, simple queries and a journal.
  </h2>
  </div>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <p>Visit Looksyk on <a href="https://github.com/SebastianRzk/Looksyk">GitHub</a>, create an <a href="https://github.com/SebastianRzk/Looksyk/issues">Issue</a> or join a <a href="https://github.com/SebastianRzk/Looksyk/discussions">Discussion</a></p>
  </footer>
</body>
</html>
