<a href="https://sebastianrzk.codeberg.page/looksyk/">
  <div class="migration-note">
    <h2>➡️ Looksyk has migrated to Codeberg. Click here to navigate to the new website! ⬅️</h2>
    <p>
      Issues and discussions will continue to be accepted on GitHub for a while longer. However, please note that the
      main
      development takes place on Codeberg, and meaningful pull requests can only be submitted there.
    </p>
    <p>
      Thank you for your understanding and continued support!
    </p>

  </div>
</a>
