<div class="title">
  <h1 class="title-h1">Looksyk</h1>
  <p class="graph-title">{{ titleService.graphTitle$ | async }}</p>
</div>


<div class="menu-button-list menu-element">
  <button mat-button routerLink="/journal">
    <mat-icon>today</mat-icon>
    Journal
  </button>
  <button mat-button routerLink="/special-page/user-page-overview">
    <mat-icon>local_library</mat-icon>
    Wiki
  </button>
  <button mat-button routerLink="/special-page/media-overview">
    <mat-icon>grid_view</mat-icon>
    Media
  </button>
</div>

@if (favs$ | async; as favs) {
  @if (favs.length !== 0) {
    <div class="menu-button-list menu-element" cdkDropList (cdkDropListDropped)="drop($event)">
      <p class="menu-header">Favorites</p>
      @for (fav of favs; track fav) {
        <button mat-button [routerLink]="'/page/'+encodeURIComponent(fav)" class="nav-fav" cdkDrag>
          <mat-icon class="material-symbols-rounded-filled">star</mat-icon>
          <app-sidebar-text [text]="fav"></app-sidebar-text>
        </button>
      }
    </div>
  }
}


@if (history$ | async; as historyEntry) {
  @if (historyEntry.length !== 0) {
    <div class="menu-element">
      <p class="menu-header">History</p>
      <div class="history-buttons">
        <button mat-button (click)="onBack()" [disabled]="historyEmpty$ | async">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-button (click)="onNext()" [disabled]="historyEmpty$ | async">
          <mat-icon>navigate_next</mat-icon>
        </button>
        <button mat-button (click)="onDelete()" [disabled]="historyEmpty$ | async">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="menu-button-list history">
      @for (history of historyEntry; track history.title) {
        <button mat-button [routerLink]="history.url">
          <mat-icon>history</mat-icon>
          <app-sidebar-text [text]="history.title"></app-sidebar-text>
        </button>
      }
    </div>
  }
}
<div class="bottom">
  <button matTooltip="reload data from disk" mat-button (click)="reload()" class="unimportant">
    <mat-icon>sync</mat-icon>
  </button>  <button matTooltip="configuration" mat-button routerLink="/special-page/configuration" class="unimportant">
  <mat-icon>settings</mat-icon>
</button>
  <button matTooltip="help" mat-button routerLink="/special-page/help" class="unimportant">
    <mat-icon>help_center</mat-icon>
  </button>
</div>
