:host {
  font-family: 'Roboto', sans-serif;
}

.menu-button-list {
  display: flex;
  flex-direction: column;
}

.menu-element {
  margin-top: 5ex;
}

.history-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.menu-header {
  padding-left: 1em;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: 400;
}

.menu-button-list > button {
  width: 100%;
  justify-content: start;
  padding: 0.5ex 0.5ex 0.5ex 4ex;
  text-wrap: pretty;
  text-align: left;
  text-overflow: ellipsis;
}

.menu-button-list > button > mat-icon {
  min-width: fit-content;
}

mat-divider {
  margin-top: 3ex;
  margin-bottom: 3ex;
}

.title {
  font-size: large;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-bottom: 1ex;
  padding-bottom: 1ex;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2),
  0 2px 4px rgba(0, 0, 0, 0.1),
  inset 0 1px 0 rgba(255, 255, 255, 0.1);
}



.bottom {
  margin-top: auto;
}

.unimportant {
  color: grey !important;
  font-size: x-small;
}

.nav-fav{
  padding-right: 0.5ex;
}

.title-h1 {
  margin: 0 auto;
  padding-top: 0.5ex;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 1.8rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3),
  0 0 20px rgba(238, 238, 0, 0.2);
}

.graph-title {
  font-weight: 300;
  margin: 0.5ex;
  font-style: italic;
}
