<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
    <mat-expansion-panel-header>
      <mat-panel-title>configure Kanban</mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="formGroup">
      <div>
        <div class="description">Title of the kanban</div>
        <mat-form-field>
          <mat-label>Titel</mat-label>
          <input matInput formControlName="title"/>
        </mat-form-field>
      </div>
      <div>
        <div class="description">Tag to identify what blocks to include</div>
        <mat-form-field>
          <mat-label>Tag</mat-label>
          <mat-select formControlName="tag">
            @if (tags | async; as tags) {
              @for (tag of tags.tags; track tag) {
                <mat-option [value]="tag">{{ tag }}</mat-option>
              }
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <div class="description">Page property key for column identification</div>
        <mat-form-field>
          <mat-label>Page property key</mat-label>
          <mat-select formControlName="columnIdentifier">
            @for (col of (blockProperties$ | async); track col) {
              <mat-option [value]="col">{{ col }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <div class="description">Page property keys for column identification (comma seperated list)</div>
        <mat-form-field>
          <mat-label>Page propety values</mat-label>
          <input matInput formControlName="columnValues"/>
        </mat-form-field>
      </div>
      <div>
        <div class="description">Page property key for priority identification (value gets sorted in alphabetical
          order)
        </div>
        <mat-form-field>
          <mat-label>Page property key</mat-label>
          <mat-select formControlName="priorityIdentifier">
            @for (prio of (blockProperties$| async); track prio) {
              <mat-option [value]="prio">{{ prio }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <div>
      <h3>Generated Query</h3>
      &#123;query: kanban title:"{{formGroup.get("title")?.value}}" tag:"{{formGroup.get("tag")?.value}}"  columnKey:"{{formGroup.get("columnIdentifier")?.value}}" columnValues:"{{formGroup.get("columnValues")?.value}}" priorityKey:"{{formGroup.get("priorityIdentifier")?.value}}" &#125;
      <code>
      </code>
    </div>

  </mat-expansion-panel>
</mat-accordion>



