@if (state$ | async; as state) {
  @if (!isClosed(state)) {
    <span class="popuptext">
    <h3>{{ title$ | async }}</h3>
     <div class="insert-value-input"><div class="text">{{ text$ | async }}</div></div>
      <div class="suggestions">
        @for (group of stateGroupOptions | async; track group.title) {
          <div class="suggestion-group"> <h4>{{ group.title }}</h4>
            @for (name of group.items; track name.name) {
              <div [classList]="name.highlight? 'active': 'inactive'"
                   (mousedown)="onClickItem($event, name, group)">
                @if (name.searchResult && name.searchResult.reference.fileName) {
                  <div class="search-result-item">
                    <span class="search-result-title">{{ name.searchResult.reference.fileName }} <span class="search-result-location">[#{{ name.searchResult.reference.blockNumber }}]</span></span>
                    <span class="search-result-text">{{ name.searchResult.textLine }}</span>
                  </div>
                } @else {
                  {{ name.name }}
                }
              </div>
            }
                </div>
        }
      </div>
    </span>
  }
}
