@if (state$ | async; as state) {
  <span *ngIf="!isClosed(state)" class="popuptext">
  <h3>{{ title$ | async }}</h3>
   <div class="insert-value-input"><div class="text">{{ text$ | async }}</div></div>
    <div class="suggestions">
      @for (group of stateGroupOptions | async; track group.title) {
        <div class="suggestion-group"> <h4>{{ group.title }}</h4>
          @for (name of group.items; track name.name) {
            <div [classList]="name.highlight? 'active': 'inactive'"
                 (mousedown)="onClickItem($event, name, group)">{{ name.name }}</div>
          }
              </div>
      }
    </div>
  </span>
}
