
.popuptext {
  background: var(--background-color);
  border: 2px solid var(--primary-color);
  border-radius: 0.5ex;
  position: absolute;
  z-index: 2;
  width: 80%;
  height: 80%;
  overflow: scroll;
  padding: 1ex 2ex 2ex 1ex;
}



.active {
  border: 3px solid var(--primary-color);
  border-radius: 0.5ex;
  padding-left: 2ex;
  font-size: large;
}

.inactive {
  padding-left: 2ex;
}

.insert-value-input {
  width: 100%;
  font-size: x-large;
}
