<div class="header">
  @if (sidenav.opened$ | async;) {
    <h1>
      <mat-icon class="menu-toggle material-symbols-outlined pointer" (click)="sidenav.close()">left_panel_close
      </mat-icon>
    </h1>
  } @else {
    <h1>
      <mat-icon class="menu-toggle material-symbols-outlined pointer" (click)="sidenav.open()">left_panel_open</mat-icon>
    </h1>
  }
  <app-user-page-title [title]="pageName$ | async"></app-user-page-title>
  @if (data | async; as d) {
    <app-fav-star [isFavInitial]="d.page.isFavourite" [pageName]="d.pageName"></app-fav-star>
  }
  <mat-icon class="page-edit-icon" [matMenuTriggerFor]="menu">more_horiz</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="rename()">
      <mat-icon>drive_file_rename_outline</mat-icon>
      <span>Rename page</span>
    </button>
    <button mat-menu-item (click)="delete()">
      <mat-icon>delete</mat-icon>
      <span>Delete page</span>
    </button>
  </mat-menu>
</div>
<mat-divider ></mat-divider>
<div class="global-content">
  @if (page$ | async; as p) {
    <app-editable-markdown-page [page]="p"></app-editable-markdown-page>
  }
  <mat-divider class="reference-mat-divider"></mat-divider>
  @if (pageName$ | async; as p) {
    <app-referenced-by [pageName]="p"></app-referenced-by>
  }
</div>







