[Desktop Entry]
Type=Application
Name=Looksyk
StartupWMClass=looksyk
GenericName=A markdown centric, fast and local personal knowledge platform
Icon=~/.local/share/flatpak/exports/share/icons/looksyk/icon.png
Terminal=false
Exec=flatpak run de.sebastianruziczka.looksyk --no-sandbox --installed-flatpak

