div[contenteditable] {
  width: 100%;
  min-width: 100%;
}

.markdown {
  min-height: 3ex;
}

.active {
  height: 100%;
  min-height: 10ex;
  overflow: auto;
  padding: 1ex;
  outline: 0;
  border: 1px solid var(--primary-shading);
  box-sizing: border-box;
}

.inactive {
  height: 0;
  width: 0;
  overflow: hidden;
}

.active-markdown {
  padding-left: 1ex;
  min-height: 3ex;
  scroll-margin-block-start:3ex;
  scroll-margin-top: 3ex;
}


.loading {
  min-height: 28ex;
}

.inactive {
  border: 0;
  background: rgb(20, 20, 20);
  color: rgb(20, 20, 20);
  height: 0;
  min-height: 0;
  scroll-margin-block-start:3ex;
  scroll-margin-top: 3ex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}


.inactive:hover {
  background: rgb(20, 20, 20);;
  color: rgb(20, 20, 20);
}


.markdown-block {
  display: flex;
  flex-direction: row;
  font-family: EBGaramond, serif;
}

.dot-button {
  height: 100%;
  min-height: 5ex;
  text-color: var(--foreground-color);
  border-radius: 1ex;
}

.dot-button:hover {
  background: var(--primary-shading);
}

.dot-button>mat-icon {
  text-align: center;
  vertical-align: middle;
  font-size: x-small;
  margin-top: 1.5ex;
  margin-right: 1ex;
}

.checkbox-container {
  align-items: center;
  height: 100%;
  display: flex;
  min-height: 3ex;
}


.auto-update {
  font-size: small;
  color: grey;
}

.full-width {
  width: 100%;
}
