<div class="markdown-block">
  <div>
    <button #other mat-raised-button [matMenuTriggerFor]="menu" class="dot-button">o</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="clickConvertBlockIntoPage()">
        <mat-icon>note_add</mat-icon>
        <span>Convert into page</span>
      </button>
      <button mat-menu-item (click)="clickOnMergeWithPrevPage()">
        <mat-icon>call_merge</mat-icon>
        <span>Merge with previous block</span>
      </button>
      <button mat-menu-item (click)="onClickRefresh()">
        <mat-icon>refresh</mat-icon>
        <span>Refresh</span>
      </button>
      <button mat-menu-item (click)="clickDelete()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>

      <button mat-menu-item (click)="onClickAddBlockBefore()">
        <mat-icon>expand_less</mat-icon>
        <span>Add block before</span>
      </button>
      <button mat-menu-item (click)="onClickAddBlockAfter()">
        <mat-icon>expand_more</mat-icon>
        <span>Add block after</span>
      </button>
    </mat-menu>
  </div>
  @if (todo$ | async; as t) {
    @if (t.isTodo) {
      <div class="checkbox-container">
        <mat-checkbox [checked]="t.isChecked" (click)="clickCheckbox()">
        </mat-checkbox>
      </div>
    }
  }
  <div class="full-width">
    @if (autoUpdate$| async) {
      <div class="auto-update">autoupdate</div>
    }
    <!-- eslint-disable-next-line -->
    <div [innerHTML]="renderedMarkdown$ | async"
         [className]="(viewMode$ | async) ?'active-markdown' : 'inactive' " (click)="onClickMarkdown()"
         class="markdown" #markdownComponent></div>
    <div (focusout)="onFocusOutEditor($event)"
         [className]="(editMode$ | async) ?'active' : 'inactive' "
         [innerText]="editText$ | async"
         #textarea contenteditable="plaintext-only"></div>
    @if (loadingMode$ | async) {
      <div class="loading">Loading...</div>
    }
  </div>
</div>
<div class="flex-col">
  @if (referencedMarkdown$ | async; as refs) {
    @for (reference of refs; track reference.reference.link) {
      <div class="flex-row">
        <div class="indentation"></div>
        <app-referenced-markdown [markdown]="reference" [parentId]="markdown.indentification"
        ></app-referenced-markdown>
      </div>
    }
  }
</div>
