<div class="header">
  @if (sidenav.opened$ | async;) {
    <h1>
      <mat-icon class="menu-toggle material-symbols-outlined" (click)="sidenav.close()">left_panel_close
      </mat-icon>
    </h1>
  } @else {
    <h1>
      <mat-icon class="menu-toggle material-symbols-outlined" (click)="sidenav.open()">left_panel_open</mat-icon>
    </h1>
  }
  <h1 class="header-text">All Pages and Tags</h1>
</div>
<mat-divider></mat-divider>
<div class="global-content">
  @if (page | async; as p) {
    <app-display-markdown-page [page]="p"></app-display-markdown-page>
  }
</div>
