<app-default-header headerTitle="Configuration"></app-default-header>
<div class="global-content">
  <h2>
    <mat-icon class="material-symbols-outlined">my_location</mat-icon>
    Graph Location
  </h2>
  <p>Current graph location: <em>{{ graphLocation | async }}</em></p>
  <p>To change the current graph location, please look into the <a href="https://sebastianrzk.github.io/Looksyk/">online
    documentation</a></p>
  <h2 class="inner-heading">
    <mat-icon class="material-symbols-outlined">page_header</mat-icon>
    Title
  </h2>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input type="text" matInput [formControl]="titleControl" placeholder="Enter title here"/>
  </mat-form-field>
  <h2 class="inner-heading">
    <mat-icon class="material-symbols-outlined">format_paint</mat-icon>
    Color Theme
  </h2>
  <h3>Apply pre-configured themes</h3>
  <mat-form-field>
    <mat-select [formControl]="colorThemeControl">
      @for (theme of colorThemes; track theme.name) {
        <mat-option [value]="theme.name">
          {{ theme.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <h3>Pick colors yourself</h3>
  <div class="form-fields">
    <mat-form-field>
      <mat-label>Primary color</mat-label>
      <input type="color" class="color-input" matInput [formControl]="primaryColorControl"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Background color</mat-label>
      <input type="color" class="color-input" matInput [formControl]="backgroundColorControl"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Foreground color</mat-label>
      <input type="color" class="color-input" matInput [formControl]="foregroundColorControl"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Primary shading</mat-label>
      <input type="color" class="color-input" matInput [formControl]="primaryShadingControl"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Appearance</mat-label>
      <mat-select [formControl]="appearanceControl">
        <mat-option value="dark">dark</mat-option>
        <mat-option value="light">light</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <p>You want to change more? Create your own css-theme in the <em>user-theme.css</em> file in the <em>config</em>
    folder of your
    graph.</p>
  <h3>Design Preview</h3>
  <div class="extension-card"><h3>DEMO</h3> <a href="/journal">LINK</a></div>
  <h3>Save or discard</h3>
  <button mat-raised-button (click)="saveConfiguration()">Save</button>
  <button mat-button (click)="discardConfiguration()">Discard and reset changes</button>
  <h2>
    <mat-icon>graph_1</mat-icon>
    Configure sync
  </h2>
  <div class="warn"><strong>Warning</strong>
    If multiple Looksyk instances are working on the same Git repository,
    change conflicts may occur. This can lead to data loss or incompatible graph states.
    To minimize the risk of conflicts, the graph should be updated regularly.

    After a Looksyk version update, the application should be connected to the internet upon first startup,
    so that any database updates from other instances can be loaded and not overwritten.
  </div>
  <section>
    <h3>Current sync configuration</h3>
    @if (gitService.currentGitInfo$ | async; as config) {
      @if (config && config.enabled) {
        <p>Git sync is currently <strong>enabled</strong>.</p>
        @if (config.isReady) {
          @if (config.hasErrors) {
            <div class="warning">
              <strong>Warning</strong>: There were errors with the git repository. Please check the logs.
            </div>
          } @else {
            @if (config.hasIncomingUpdates) {
              <div class="info">
                <strong>Info</strong>: There are incoming updates from the remote repository. Please pull the latest
                changes.
              </div>
            } @else {
              <div class="info">
                <strong>Info</strong>: The git repository is up to date.
              </div>
            }
            @if (config.hasOutgoingUpdates) {
              <div class="info">
                <strong>Info</strong>: There are outgoing updates to the remote repository. Please push your local
                changes.
              </div>
            }
            @if (config.hasChanges) {
              <div class="info">
                <strong>Info</strong>: There are local changes that have not been committed yet. Please create a
                checkpoint.
              </div>
            } @else {
              <div class="info">
                <strong>Info</strong>: There are no local changes.
              </div>
            }
          }
        } @else {
          <div class="warning">
            <strong>Warning</strong>: The git repository is not ready. Please check the logs.
          </div>
        }
      } @else {
        <p>Git sync is currently <strong>disabled</strong>.</p>
      }
    } @else {
      <p>No git configuration found.</p>
    }
  </section>
  <section>
    <h3>Configure sync</h3>
    <mat-form-field>
      <mat-label>Git Repository URL</mat-label>
      <input type="text" matInput [formControl]="gitImportControl" placeholder="Enter git repository URL here"
             required/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Conflict resolutionstrategy</mat-label>
      <mat-select [formControl]="gitImportConflictStrategyControl">
        <mat-option value="theirs">Use remote changes (theirs)</mat-option>
        <mat-option value="ours">Keep local changes (ours)</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>When running migration, require update graph to be run successfully before</mat-label>
      <mat-select [formControl]="gitImportRequireUpdateGraphControl">
        <mat-option [value]="true">Yes</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="attachGit()" [disabled]="importGitDisable$| async">Initialize git to an empty
      repository (keep current graph)
    </button>
    <button mat-raised-button (click)="importFromGit()" [disabled]="importGitDisable$| async">Import from git
      <div class="warn">(discard
        current graph)
      </div>
    </button>
  </section>

</div>
