:host {
  display: flex;
  align-items: start;
}

.indentation {
  width: 3ex;
  min-width: 3ex;
  min-height: 3ex;
  border-right: 1px solid grey;
}

.line {
  display: flex;
  flex-direction: row;
  width: 100%;
}

app-editable-markdown {
  width: 100%;
}
