<app-kanban-properties [initialProperties]="initialFilter()"
                       (formChanged)="filter.set($event)"></app-kanban-properties>

@if (kanbanData$| async; as data) {
  <h1>{{ data.title }}</h1>
  <div cdkDropListGroup class="kanban-container">
    @for (list of data.lists; track list.title) {
      <div>
        <h2>{{ list.title }}</h2>
        <div
          cdkDropList
          [cdkDropListData]="list.items"
          class="kanban-list"
          cdkDropListSortingDisabled
          (cdkDropListDropped)="drop($event)">
          @for (item of list.items; track item.block.reference.fileId) {
            <div cdkDrag>
              <app-kanban-card
                [markdown]="item.block"
              ></app-kanban-card>
            </div>
          }
        </div>
      </div>

    }
  </div>
}


