<div class="title">
  <h1>{{ pageName$ | async }} </h1>
  <button mat-mini-fab (click)="download()">
    <mat-icon>download</mat-icon>
  </button>
</div>
@if (mediaInfo$ | async; as mediaInfo) {
  @if (mediaInfo.markdownPreview) {
    <app-markdown
      [markdown]="mediaInfo.markdownPreview"
      [editable]="false"
      [pageid]="'details/'+mediaInfo.properties.fullQualifiedPath"
    ></app-markdown>
  }
  @if (mediaInfo.htmlPreviewLink) {
    <iframe [src]="bypass(mediaInfo.htmlPreviewLink)">
    </iframe>
  }
}
@if (mediaMetadata$ | async; as mediaMetadata) {
  <app-markdown
    [markdown]="mediaMetadata.blocks[0]"
    [editable]="false"
    [pageid]="'metadata'"></app-markdown>
}
