<div class="header">
  <app-sidebar-toggle></app-sidebar-toggle>
  <h1>{{ pageName$ | async }} </h1>
  <h1>
    <mat-icon (click)="download()" class="pointer download-button">download</mat-icon>
  </h1>
</div>
<mat-divider></mat-divider>
<div class="global-content">
  @if (mediaInfo$ | async; as mediaInfo) {
    @if (mediaInfo.markdownPreview) {
      <app-display-markdown
        [markdown]="mediaInfo.markdownPreview"
      ></app-display-markdown>
    }
    @if (mediaInfo.htmlPreviewLink) {
      <iframe [src]="bypass(mediaInfo.htmlPreviewLink)">
      </iframe>
    }
  }
  @if (mediaMetadata$ | async; as mediaMetadata) {
    <app-display-markdown
      [markdown]="mediaMetadata.blocks[0]"></app-display-markdown>
  }
</div>
