h1 {
  margin-top: 0;
}

.title:hover {
  border-bottom: 2px solid var(--primary-shading);
  border-radius: 0.2ex;
}

.title {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding: 0 0.5ex 0 0.5ex;
}
