---
layout: base.njk
title: Looksyk - A simple personal knowledge platform
landing: true
---

<div class="badge">
  <img src="https://github.com/SebastianRzk/Looksyk/actions/workflows/build.yml/badge.svg?branch=stable" alt="GithubCI Status" />
</div>

<p class="lead">A simple personal knowledge platform with a focus on clean markdown files, simple queries a journal and boards.</p>

<h2>Key Features</h2>
<ul class="feature-list">
  <li><strong>Local Storage</strong> Your information is always exclusively in Markdown files.</li>
  <li><strong>Fast and Efficient</strong> Scans and indexes large knowledge bases in under a second.</li>
  <li><strong>Simple Queries</strong> Use case based query language.</li>
  <li><strong>Boards</strong>Design kanban-like boards using your markdown blocks as cards. Boards and content seamlessly integrated.</li>
  <li><strong>Customizable Design</strong> Configure your own design with color variables or custom css, or choose from 8 prebuild themes.</li>
  <li><strong>Free and Open-Source </strong>The application is developed under the AGPL License, to make Lookyk available free of charge</li>
  <li><strong>Sync with Git</strong>Store your graph in a git repository.<br>Combine it with your own docker-compose hosting to use it on the go.</li>
  <li><strong>Developer-Centric</strong> Insert code blocks with syntax highlighting, save and display existing code files. Save and display backups of websites in your pages.</li>
</ul>

<p>Read more in <a href="#what-are-the-key-selling-points-compared-to-other-knowledge-platforms">What are the key selling points compared to other knowledge platforms?</a></p>

<div class="intro-animation">
  <img src="intro_animation.gif" alt="Intro Animation" />
</div>

<h2>How can you achieve added value with Looksyk?</h2>

<div class="levels">
<div class="vertical-line"></div>
<div class="level">
  <h3>1.</h3>
  <div>
  <strong>Clear your mind</strong>
  <ul>
      <li>Write down thoughts and ideas in your wiki or your daily journal</li>
      <li>Manage your tasks and todos in custom boards</li>
      <li>Search and find your notes</li>
  </ul>
  </div>
</div>
<div class="level">
  <h3>2.</h3>
  <div>
  <strong>Organize your knowledge and optimize your workflows</strong>
  <ul>
      <li>Create templates for recurring events</li>
      <li>Organize your tags in hierarchies</li>
      <li>Reduce duplication</li>
  </ul>
  </div>
</div>
<div class="level">
  <h3>3.</h3>
  <div>
  <strong>Gain knowledge</strong>
  <ul>
      <li>Link your notes and create a network of knowledge</li>
      <li>Use queries to gain insights across notes</li>
  </ul>
  </div>
</div>

</div>

<h2>Further Reading</h2>
<ul class="toc-list toc-secondary">
  <li><a href="{{config.pathPrefix}}idea_and_technical_concept/">Idea and technical concept</a></li>
  <li><a href="{{config.pathPrefix}}installation/">Install and Run</a></li>
  <li><a href="{{config.pathPrefix}}sync/">Sync</a></li>
  <li><a href="{{config.pathPrefix}}migration_from_logseq/">Migration from Logseq</a></li>
  <li><a href="{{config.pathPrefix}}usage/">Configuration and Usage</a></li>
  <li><a href="{{config.pathPrefix}}development_and_contribution/">Development and Contribution</a></li>
  <li><a href="{{config.pathPrefix}}changelog/">Changelog</a></li>
</ul>

<h2 id="introduction">Introduction</h2>
<p>I have always been a fan of <a href="https://logseq.com/">Logseq</a>, but there were a few things that bothered me, such as the many control characters in the markdown files, the query language that is difficult to learn and limited in its capability, or the general performance. When the database version announced the move away from Markdown as the leading data storage format, I tried to write my own client: Looksyk (name may need to be changed).</p>

<h3 id="what-are-the-key-selling-points-compared-to-other-knowledge-platforms">What are the key selling points compared to other knowledge platforms?</h3>
<ul class="advanved-feature-list">
  <li>Runs local on your computer, or in your self-hosted docker stack. Or both, with Git Sync.</li>
  <li>Your information is always exclusively in the Markdown files. No replication in a database or similar. The files can be easily synchronized with other sync tools.</li>
  <li>Based on blocks, but these can also be larger, contain entire chapters and multiple queries.</li>
  <li>Get more out of your blocks. Query them, or use them as cards on a board.</li>
  <li>Simple, use case based query language.</li>
  <li>Multiple instances of Looksyk with different knowledge bases can be opened in parallel.</li>
  <li>Developer-centric file support:
    <ul>
      <li>Insert code blocks with syntax highlighting</li>
      <li>Save and display existing code files in your pages with syntax highlighting</li>
      <li>Save and display backups of websites in your pages (with single-file-downloader)</li>
      <li>Insert videos, audio files, images, text files and PDFs.</li>
    </ul>
  </li>
  <li>Custom styling of markdown content with html and css and support for custom themes.</li>
</ul>
<p><a href="{{config.pathPrefix}}usage/">Check out screenshots to see how each feature can be used!</a></p>
<p><a class="button" href="{{config.pathPrefix}}installation/">Installation Guide</a></p>

<h3 id="implemented-features">Implemented Features</h3>

<ul class="feature-list">
<li><strong>Wiki and Journal</strong>Track your ideas, thoughts and todos in daily journal pages or in a wiki</li>
<li><strong>Boards</strong>Use existing blocks from your wiki or journal to use them as cards on boards.</li>
<li><strong>Todos</strong> Create todos in your wiki or journal, visualize progress, query todos and more.</li>
<li><strong><code class="small-code">[[Tags]]</code> and <code class="small-code">block:: propertes</code></strong>Enhance your Markdown content with additional links and properties to use content beyond simply displaying it as a document.</li>
<li><strong>Content Assist</strong> Create links, insert queries, tags, templates and media with content assist.</li>
<li><strong>View (and link) media</strong> Images, PDFs, HTML files (e.g. from <a href="https://addons.mozilla.org/en-US/firefox/addon/single-file/">SingleFile Firefox</a> <a href="https://chromewebstore.google.com/detail/singlefile/mpiodijhokgodhhofbcjdecpffjipkle">SingleFile Chrome</a>), video, audio, code and text files.</li>
<li><strong>Templates</strong> Create templates for recurring events, such as daily journal pages, weekly reviews, or project pages.</li>
<li><strong>Queries</strong> Use case based query language to query your collected information. Query blocks, todos, page hierarchy, references and more.</li>
<li><strong>Search</strong> Search across all pages and journals.</li>
<li><strong>Refactor existing content</strong> Rename and move pages, update references across all pages and journals.</li>
<li><strong>Favourites</strong> Mark pages as favourites and access them quickly.</li>
<li><strong>History</strong> Show, drop, navigate to previous and next page. Keyboard shortcuts available.</li>
<li><strong>Custom Styling</strong> Customize the design of your Looksyk instance with color variables or custom CSS. Choose from 7 prebuilt themes.</li>
<li><strong>Git Sync</strong> Sync your graph into a git repository with the click of a button.</li>
<li><strong>Local and docker deployment</strong> Edit your graph locally or deploy it to a docker machine and edit it on the way. Or both with Git Sync.</li>
</ul>


