---
layout: base.njk
title: Looksyk - Sync
---

<h2>Please note: Git sync attempts to synchronize your data easily and reliably to a Git repository.
Using multiple Looksyk installations in parallel and with little opportunity to synchronize can lead to editing conflicts,
potentially resulting in data loss.</h2>

<h2>
For a more stable synchronization method, you can synchronize the graph folder yourself using a synchronization tool of
 your choice.</h2>