/* You can add global styles to this file, and also import other style files */

html, body {
  scroll-behavior: smooth;
  font-family: 'EB Garamond';
  font-size: large;

  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--primary-shading);
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--foreground-color) !important;
}

:root {
  --mat-sidenav-content-text-color: var(--foreground-color);
  --mat-button-text-label-text-color: var(--foreground-color);
  --mat-sidenav-container-text-color: var(--foreground-color);
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.emoji {
  width: 3ex;
  height: 3ex;
  margin-bottom: -0.75ex;
}

.active-markdown > p {
  margin-top: 1ex;
}

a {
  color: var(--primary-color);
  cursor: pointer;
}


table, tr, td, th {
  border: 1px solid var(--primary-shading);
  border-radius: 0.25ex;
  padding: 1ex;
}

tr:hover, th:hover {
  background: var(--primary-shading);
}

td:hover {
  background: var(--backround-color);
}

.mat-drawer-container {
  background-color: var(--background-color) !important;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.mat-drawer {
  background-color: var(--primary-shading) !important;
}

img {
  max-width: 93vw;
  max-height: 93vh;
}

iframe {
  max-width: 93vw;
  max-height: 93vh;
  width: 100%;
  height: 80vh;
  overflow: scroll;
  background-color: white;
}

h1 > a {
  text-decoration: none;
}

h1 {
  margin-top: 0.5ex;
}

[contenteditable] {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

