/* You can add global styles to this file, and also import other style files */

html, body {
  scroll-behavior: smooth;
  font-family: 'EB Garamond';
  font-size: large;
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--foreground-color)!important;
}

:root {
  --mat-sidenav-content-text-color: var(--foreground-color);
  --mdc-text-button-label-text-color: var(--foreground-color);
  --mat-sidenav-container-text-color: var(--foreground-color);
}

app-root{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.emoji {
  width: 3ex;
  height: 3ex;
  margin-bottom: -0.75ex;
}

.active-markdown > p {
  margin-top: 1ex;
}

a {
  color: var(--primary-color);
  cursor: pointer;
}


table, tr, td, th {
  border: 1px solid var(--primary-shading);
  border-radius: 0.25ex;
  padding: 1ex;
}

tr:hover, th:hover, td:hover {
  background: var(--primary-shading);
}
