---
layout: base.njk
title: Looksyk - Queries
---

<p>
    Queries are placeholders for dynamic content in Markdown. The result of the query is calculated and displayed
    dynamically at runtime, whereby only the query syntax and not the result is stored in the Markdown file on disk.
</p>
<p>
    Queries are particularly suitable for three problems:
</p>
<ul>
    <li> Content that changes continuously over time and where the references should be dynamically adapted across all pages.
        For example, "Which todos for the tag "myTag" are not yet completed?" or "which subpages does the page myTag have?".
    </li>
    <li> Content that is not stored in the Markdown file, but should be displayed in the Markdown file. For example, "Insert
        the content of the file myFile.asdf as a code block" or "Insert the content of the file myFile.mp4 as a video".
    </li>
    <li> Content that is not supported by the Markdown standard, but should be displayed in the Markdown file. For example,
        "
        Insert a video" or "Insert an audio file".
    </li>
</ul>
<p>
Currently,all queries must be inserted exactly as described. Parameters cannot yet be swapped or omitted.
</p>


<div class="usage-overview-grid">
    <a href="{{ config.pathPrefix }}usage/queries_board/" class="usage-card">
        <span class="usage-icon"><svg xmlns="http://www.w3.org/2000/svg" width="2.2rem" height="auto" fill="currentColor" viewBox="0 0 16 16">
  <path d="M13.5 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-11a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm-11-1a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
  <path d="M6.5 3a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm-4 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm8 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1z"/>
</svg></span>
        <span class="usage-title">Query Boards</span>
        <span class="usage-desc">Create and configure kanban-style boards from your blocks</span>
    </a>
    <a href="{{ config.pathPrefix }}usage/queries_plot/" class="usage-card">
        <span class="usage-icon">📈</span>
        <span class="usage-title">Query Plot Page Properties</span>
        <span class="usage-desc">Query your page-properties in your journal and create plots</span>
    </a>
    <a href="{{ config.pathPrefix }}usage/queries_blocks/" class="usage-card">
        <span class="usage-icon">⎘</span>
        <span class="usage-title">Query Blocks</span>
        <span class="usage-desc">Inserts a blocks, that contain a certain tag.</span>
    </a>
    <a href="{{ config.pathPrefix }}usage/queries_hierarchy/" class="usage-card">
        <span class="usage-icon">🌳</span>
        <span class="usage-title">Query Page Hierarchy</span>
        <span class="usage-desc">Query the hierarchies of your wiki pages</span>
    </a>
    <a href="{{ config.pathPrefix }}usage/queries_todoprogess/" class="usage-card">
        <span class="usage-icon">50%</span>
        <span class="usage-title">Query Todo Progess</span>
        <span class="usage-desc">Query the progress of your todos</span>
    </a>
    <a href="{{ config.pathPrefix }}usage/queries_todo/" class="usage-card">
        <span class="usage-icon">☑</span>
        <span class="usage-title">Query Todo</span>
        <span class="usage-desc">Query your todos - Display them as interactive list, emojii-styled flat list or count</span>
    </a>
    <a href="{{ config.pathPrefix }}usage/queries_assets/" class="usage-card">
        <span class="usage-icon">🎞</span>
        <span class="usage-title">Query Assets</span>
        <span class="usage-desc">Display the content of an asset file (text, code, video, audio) inline in the markdown block.</span>
    </a>
</div>








