<div class="header">
  <app-sidebar-toggle></app-sidebar-toggle>
  <h1 class="journal-toggle pointer">
    <mat-icon routerLink="/special-page/journal-overview">calendar_month</mat-icon>
  </h1>
  <h1>Journal</h1>
</div>
<mat-divider></mat-divider>
<div class="global-content-internal-scrollbar">
  <cdk-virtual-scroll-viewport autosize class="journal-viewport">
    <app-journal-entry *cdkVirtualFor="let item of items; templateCacheSize: 0" [page]="item"></app-journal-entry>
  </cdk-virtual-scroll-viewport>
</div>
