<div class="header">
  @if (sidenav.opened$ | async;) {
    <h1>
      <mat-icon class="menu-toggle material-symbols-outlined pointer" (click)="sidenav.close()">left_panel_close
      </mat-icon>
    </h1>
  } @else {
    <h1>
      <mat-icon class="menu-toggle material-symbols-outlined" (click)="sidenav.open()">left_panel_open</mat-icon>
    </h1>
  }
  <h1 class="journal-toggle pointer">
    <mat-icon routerLink="/special-page/journal-overview">calendar_month</mat-icon>
  </h1>
  <h1 class="header-text">Journal</h1>
</div>
<mat-divider></mat-divider>
<div class="global-content">
  <cdk-virtual-scroll-viewport autosize class="journal-viewport">
    <app-journal-entry *cdkVirtualFor="let item of items; templateCacheSize: 0" [page]="item"></app-journal-entry>
  </cdk-virtual-scroll-viewport>
</div>
