:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Neu: der Inhaltscontainer soll den verbleibenden Platz sicher einnehmen */
.global-content-internal-scrollbar {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0; /* wichtig in Flex-Containern, damit der Inhalt schrumpfen darf */
}

.journal-viewport {
  height: 100%;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--primary-shading);
}

.header {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.header > mat-divider {
  margin: 2ex 0;
}

.header > h1 {
  margin: 0.5ex;
}

.header > button {
  margin-top: auto;
  margin-bottom: auto;
}

.journal-toggle {
  margin: auto 0.5ex auto 0 !important;
}

cdk-virtual-scroll-viewport {
  /* Neu: Viewport soll mitwachsen */
  flex: 1 1 auto;
  height: 100%;
  width: 100%;

  ::ng-deep .cdk-virtual-scroll-content-wrapper {
    max-width: 100% !important;
  }
}
