name: Build and Test Looksyk

on:
  push:
    branches: [ main, stable, dev ]
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches: [ main, stable, dev ]
    paths-ignore:
      - 'docs/**'

jobs:
  backend-test:
    name: backend cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install development files
        run: sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev gettext fontconfig
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo test --all-features
        working-directory: ./backend
  backend-formatting:
    name: backend cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - name:  Check
        run: cargo fmt --all -- --check
        working-directory: ./backend
  backend-clippy:
    name: backend cargo clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install development files
        run: sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev gettext fontconfig
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
      - name: Check
        run: cargo clippy --all-features -- -D warnings
        working-directory: ./backend
  frontend:
    name: frontend build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: npm install and npm run CI commands
        run: |
          npm i
          npm run build --configuration=production
        working-directory: ./frontend/looksyk
  frontend-lint:
    name: frontend lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: npm install and npm run CI commands
        run: |
          npm i
          npm run lint
        working-directory: ./frontend/looksyk
  application-wrapper:
    name: application-wrapper build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: npm install and npm run CI commands
        run: |
          npm i
          npm run publish
        working-directory: ./application-wrapper/Looksyk
  application-wrapper-lint:
    name: application-wrapper lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: npm install and npm run CI commands
        run: |
          npm i
          npm run lint
        working-directory: ./application-wrapper/Looksyk