mat-drawer-container {
  height: 100vh;
}

mat-drawer-content {
  padding: 5ex;
  display: flex;
}

mat-drawer {
  width: 30ex;
}


.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
