mat-sidenav-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: inherit !important;
}

mat-sidenav-content {
  padding: 4ex 5ex 5ex;
  display: flex;
}

mat-sidenav {
  width: 30ex;
  max-width: 30ex;
}


.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

app-sidebar {
  height: 99%;
  display: flex;
  flex-direction: column;
}

.menu-trigger, .menu-trigger>*{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0;
  margin: 0;
  font-size: xx-large;
  background: var(--primary-shading);
  color: var(--primary-shading);
  box-shadow: none;
  border-radius: 0  0.5ex 0.5ex 0;
}

.menu-trigger-text {
  padding-bottom: 0.4ex;
}

