mat-drawer-container {
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: inherit !important;
}

mat-drawer-content {
  padding: 5ex;
  display: flex;
}

mat-drawer {
  width: 30ex;
}


.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

app-sidebar {
  height: 99%;
  display: flex;
  flex-direction: column;
}
